*{
  margin: 10px;
}
.App{
  background-color: aquamarine;
}
#Box{
  height:400px;
  width:600px;
  background-image:url('C:\Users\SightSpectrum\Pictures\Saved Pictures/1.webp') ;
  float:right;
  color: blue;
 
}
.itemStyle{
float:inherit;
}
.Time{
  margin: 10px;
  text-wrap:wrap ;
  background:gray;
  width: max-content;
  justify-content:right;
  float: right;
  width: 500px;
}

#input{
  padding: 5px;
  /* margin: 5px; */
}
.obj{
  margin: 15px;
}
b{
  color:blueviolet
}